/build/
.classpath
.project
/.settings/
/.settings/*
/bin/

.project
.metadata
.classpath
.settings/
.loadpath
*.class


/yedamFinallProject/build/
/yedamFinallProject/.classpath
/yedamFinallProject/.project
/yedamFinallProject/.settings/
/yedamFinallProject/.settings/*
/yedamFinallProject/bin/